---
galaxy_info:
  author: Mick Pollard
  role_name: {{ role_name }}
  namespace: aussielunix
  description: Install and configure {{ role_name }} on your system.
  license: MIT
  company: Contojo
  min_ansible_version: 3.5.1

  platforms:
    - name: Manjaro
      versions:
        - Stable

  galaxy_tags:
    - {{ role_name | replace('_', '') }}

dependencies: []
